body{
  background: url('../pictures/LibroCampo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.table{
  background-color: #ffffff;
}

.datos_indetificacion{
  color: #28A745;
}

#maceta{
  position: absolute;
  top: 20px;
  right: 20px;
}

.pictures_form{
  z-index: 500;
  position: relative;
  top: 45px;
  left: 20px;
  border-radius: 5px;
}
